body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del menú lateral */
.sidebar {
    height: 100%;
    width: 60px;
    background-color: #072B31; /* Azul medio oscuro */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

/* Estilos de los enlaces del menú */
.sidebar a {
    display: block;
    color: #fff; /* Texto en blanco */
    padding: 10px 20px;
    text-decoration: none;
}

/* Estilos del enlace activo en el menú */
.sidebar a.active {
    background-color: #1a252f; /* Azul oscuro para el enlace activo */
}

/* Estilos para el área principal de contenido */
.content {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
}

/* Estilos para hacer el menú responsive */
/* @media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }
    .content {
        margin-left: 0;
    }
} */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.967);    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que la pantalla de carga esté en la parte superior */
}

#loader img {
    width: 55px;
    height: 55px; 
    animation: spin 1s linear infinite; /* Agrega una animación de rotación */
}

/* Define la animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

